<div class="cm_body">
  <div class="cm_body_inner">
    Братан, лови подгон от старшаков:
    <em class="nowrap"
      ><img align="absmiddle" class="inline-icon" border="0" src="https://static.hata.mobi/i/icons/docents.png" alt="доценты">
      1000</em
    >,
      <em class="nowrap"
      ><img align="absmiddle" class="inline-icon" border="0" src="https://static.hata.mobi/i/icons/ammo.png" alt="ammo">
      3000</em
    >
    
    <div style="color: green; margin: 5px; text-align: right">
      83 новые записки
    </div>
  </div>
</div>
