<div class="b-case z-wrapper">
    <div class="ov-h">
        <a class="btn-profile male" href=""><span class="lvl">50</span><span class="lable">Профиль</span></a>        <div class="case-right">
            <ul class="case-btns">
                <li>
                    <a class="btn-energy" href=""><span id="res-energy">160</span>/160</a>                </li>
                <li>
                    <a class="btn-authority" href=""><span id="res-authority">1.2m</span></a>                </li>
                <li>
                    <a class="btn-lave" href=""><span id="res-lave">715m</span></a>                </li>
                <li>
                    <a class="btn-docent" href=""><span id="res-docents">215</span></a>                </li>
            </ul>
            <div class="lvl-progress">
                                <div class="lvl-progress-fill" style="width:98%"></div>
                <div class="lvl-progress-text"><span id="res-exp_cur">9.6m</span>&nbsp;/&nbsp;<span id="res-exp_max">9.7m</span></div>
            </div>
        </div>
    </div>
    <div class="case-links">
        <ul>
            <li><a href="">Сейчас в деле</a> (2344)</li>
                            <li>
                                        <a onclick="return true;" href="https://apiserver.vmmo.ru/api/support/redirect?vmmo.app=hata&amp;vmmo.sign=c2cdc47e8a8d0b43260b111abfbb6daae6c6d18949a30641af9193ee55508d52&amp;vmmo.customer_id=27646594&amp;vmmo.uid=http%3A%2F%2Fpassport.vmmo.ru%2Fpages%2FIndexPage%2Fuserid%2F%25D0%25BC%25D0%25B0%25D1%2588%25D0%25B0%25D0%25BD%25D0%25B5%25D0%25B4%25D1%2583%25D0%25BB%25D0%25B0&amp;vmmo.name=mariamagdalea&amp;vmmo.domain=hata.mobi">Поддержка</a>                </li>
            <li><a href="">Помощь</a></li>


            
            <li><a href="https://vmmo.ru/agreement" target="_blank"><nobr>Лицензионное соглашение</nobr></a></li>
            <li><a href="https://vmmo.ru/privacy" target="_blank"><nobr>Политика конфиденциальности</nobr></a></li>


                            <li><a itemprop="sameAs" onclick="return true;" href="/index.php?r=site/layout&amp;layout=light">Облегченная версия</a></li>
            
            <li>
                         </li>

            <li><a class="font12 " onclick="return true;" href="/index.php?r=site/logout"><nobr>Выход</nobr></a></li>
        </ul>
        <a class="btn-terki" href=""></a>    </div>
</div>