<div class="b-exp-progress">
            <div class="exp-progress-filled" style="width: 14%;"></div>
        </div>

<div class="z-godfather" style="background-image: url('https://static.hata.mobi/i/headers/crops.jpg?new=5');">
        <a class="f5" href=""></a>    <div class="letter_container">
        <div class="inner">
                                        <div class="letter_notify"><b>82</b></div>
                        <a href=""></a>        </div>
    </div>

    <a class="ny_cup" href=""><div class="champ_notify"><b>+</b></div></a>
<!--div class="ny_widget">
    <a class="ny_bag" href="/index.php?r=newYear/gifts"></a>
</div-->


    
        </div>