<div class="z-menu-container">
  <ul id="z-menu">
    <li id="z-crops">
      <div class="menu_notify"><b>19</b></div>
      <a href=""><span>Точки</span></a>
    </li>
    <li id="z-estates">
      <a href=""><span>Недвига</span></a>
    </li>
    <li id="z-districts">
      <a href=""><span>Районы</span></a>
    </li>
    <li id="z-fights">
      <a href=""><span>Бои</span></a>
    </li>
    <li id="z-hata">
      <a href=""><span>Хата</span></a>
    </li>
    <li id="z-gangs">
      <a href=""><span>Банды</span></a>
    </li>
    <li id="z-quests">
      <a href=""><span>Движухи</span></a>
    </li>
    <li id="z-raids">
      <a href=""><span>Рейды</span></a>
    </li>
    <li id="z-casino">
      <a href=""><span>Казино</span></a>
    </li>
    <li id="z-relations">
      <a href=""><span>Связи</span></a>
    </li>
    <li id="z-bank">
      <a href=""><span>Банк</span></a>
    </li>
    <li id="z-pusher">
      <a href=""><span>Барыга</span></a>
    </li>
  </ul>
</div>